@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow: hidden;
}

html {
  position: relative;
  color: white;
}

h1 {
  font-size: 2.3em;
  line-height: 1.3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h1, h2, h3 {
  font-weight: bold;
}

#swiper-container {
  height: 100vh;
  overflow: hidden;
}

#swiper-wrapper {
  height: 100%;
  transition: transform 1s ease;
}

.swiper-slide {
  padding: 0 1rem;
  min-height: 100%;
  min-width: 100vw;
  box-sizing: border-box;
  padding-top: 4rem;
}
