@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  position: relative;
  color: white;
}

h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

h3 {
  font-size: 1.17em;
  margin-bottom: 1em;
}

h1, h2, h3 {
  font-weight: bold;
}

.swiper-slide {
  height: 100vh;
  padding-top: 4rem;
  opacity: 0.5;
  transition: opacity 0.3 ease;
}

.swiper-slide.active {
  opacity: 1;
}

#slide-1 {
  background-color: blue;
}

#slide-2 {
  background-color: blueviolet;
}